body, body>.container, html {
  min-height: 100%;
  background: @color-black06;
  font-family: "Microsoft Yahei",Regular,sans-serif;
}

body{
  margin: 8px;
  .noborder-xs;
}
#app.container{
  .noborder-xs;
  overflow: hidden;
}

a {
  color: @brand-primary;
  &{
    text-decoration: none !important;
  }

  &:hover
  /*&:focus*/ {
    color: @brand-primary-hover;
    text-decoration: none;
    -webkit-transition-duration:0.3s;
    &{
      -webkit-transition-duration:0.3s;
    }
  }
}



.pull-center {
  float: none!important;
  margin-left: auto;
  margin-right: auto!important;
}
