.paper{
  header{
    overflow: hidden;
    padding: 10px 26px 0 26px;
  }

  .body{
    overflow: hidden;
    padding: 0 26px 0 26px;
    .content{
      padding: 0;
    }
  }

  footer{
    overflow: hidden;

  }
}