main.page{
  .bodymain{
    padding-left: 29px;
    padding-right: 20px;
  }

  header#site-header{
    .bodymain;

    padding-top: 39px;

    h1.page-title{
      margin-top: 0;
      margin-bottom: 2px;
      font-weight: bold;
      color: @color-black;
      display: inline-block;
    }

    nav{
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
        }
      }
    }

    nav.social-nav{
      display: inline-block;
      position: absolute;
      top: 6px;
      right: 29px;
      padding-top: 100px;
      li{
        font-size: 23px;
        line-height: 1;
        margin-left: 20px;
        &:first-child{
          margin-left: 0;
        }
        a{
          color: @color-black;
          &:hover{
            color: @color-link-hover;
          }
        }
      }

      @media (max-width: 480px) {
        display: none;
      }
    }

    nav.site-nav{
      font-size: 15px;
      ul{
        list-style: none;
        padding: 0;
        padding-top: 10px;
        margin: 0;
        margin-top: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid @color-light-grey;
        li{
          display: inline-block;
          font-size: 16px;
          margin: 0 6px;
          background-color: inherit;
          color: #5c5c5c;
          outline: none;
          &:first-of-type{
            margin-left: 0;
          }

          a{
            display: inline-block;
            padding: 6px 15px;
            color: @color-blcak-grey;
            border-bottom: 3px solid @color-papaer;
            -webkit-transition: 300ms;

            &:focus,
            &:hover{
              border-bottom: 3px solid @color-link;
            }

          }

          &.curr{
            a{
              border-bottom: 3px solid @color-active;
              font-weight: bold;
              color: @color-blcak-grey;
            }
          }

        }
      }
    }
  }

  #site-main{
    overflow: hidden;
    padding: 0 26px 0 26px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    .content{
      .paper;
      .shadow;

      padding: 20px;
      margin-bottom: 20px;

      .markdown{
        canvas{
          min-width: 100%;
          max-width: 100%;
          background: #F0F0F0;
        }
        image{
          max-width: 100%;
        }
      }
    }

    .sidebar{
      padding-right: 0;
      @media (max-width: @screen-md) {
        padding: 0;
      }
    }
  }

  footer{
    overflow: hidden;
    background: @color-black;
    padding: 20px;
    border-top: 1px solid @color-grey;
    color: @color-light-grey;

    p{
      margin: 0;
      padding: 0 0 5px;
    }
  }
}